/* mixins */
// 当时用占位图的时候通常会出现占位图比例和真实图片比例不相等的情况,
// 当占位图和真实图片的比例不一致时, 在真实图片渲染出来的瞬间会造成页面重排/重绘
// 利用padding是相对于自身元素宽度这个特性可以实现等比缩放的效果, 如: 一张1x1像素的占位图要填满长400px, 宽200px的容器, padding-bottom: 200/400 * 100% = 50%
// $width: 图片的宽
// $height: 图片的高
// $ratio: 默认图片宽度都为100%, 如果图片的宽度在另外的样式中被修改为50%, 则$ratio传入 0.5, 30% -> 0.3
@mixin awesomeImg($width, $height, $ratio: 1) {
  width: 100%;
  height: 100%;
  padding-bottom: ( $height / $width ) * 100% * $ratio;
  position: relative;
  overflow: hidden;
  img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

// 水平垂直居中
@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 文本溢出省略
@mixin textEllipsis($row: 1) {
  @if $row == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    overflow: hidden;
  }
}

// 清除浮动
@mixin clearfix {
  &{
    zoom: 1
  }
  &:after {
    content: "";
    display: block;
    clear: both
  }
}

// 背景渐变
@mixin backgroundGradient($direction: right, $fromColor: #f3e1c5, $toColor: #bf9d63){
  background-color: $fromColor;
  background-image: linear-gradient(to $direction, $fromColor 40%, $toColor 100%);
}

// 文字渐变
@mixin textGradient($direction: right, $fromColor: #f3e1c5, $toColor: #bf9d63) {
  color: $fromColor;
  background-color: #fff;
  background-image: linear-gradient(to $direction, $fromColor 40%, $toColor 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

// 背景颜色渐变动画
@mixin backgroundGradientAnimation() {
  @keyframes blink {
    0% { background-position: 200% 0; }
    100% { background-position: 0; }
  }
  background-color: #EDEEF1;
  background-size: 200% 100%;
  background-image: linear-gradient(90deg, #EDEEF1 0%, #F6F7F9 50%, #EDEEF1 100%);
  animation: blink 1s ease-in infinite;
  transition: all .6s;
}

// webkit内核浏览器滚动条样式
@mixin webkitBrowserScrollBarStyle() {
  body::-webkit-scrollbar{
    width: 6px;
    background-color: #ccc;
  }
  body::-webkit-scrollbar-track{
    background-color: #ddd;
  }
  body::-webkit-scrollbar-thumb, .horizon-scrollbar::-webkit-scrollbar-thumb{
    background-color: #666;
    transition: all .2s;
    &:hover{
      background-color: #999;
    }
  }
}

// 浏览器文字选中样式
@mixin browserTextSelectedStyle() {
  ::selection {
    background-color: #333;
    color: #fff;
  }
}